Source: jmlc
Section: devel
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild,
 libbaselib-ocaml-dev,
 bison,
 flex
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/jmlc
Vcs-Git: git://github.com/pippijn/jmlc
Vcs-Browser: https://github.com/pippijn/jmlc

Package: jmlc
Architecture: any
Depends: ${misc:Depends}
Description: JML to XML translator
 JML is an alternative syntax for XML. It aims to supports every feature of
 XML, but in a curly brace syntax. Unlike XML, JML allows a mix of attributes
 and content nodes.
